 <%= tag.article class: 'card mb-3', id: dom_id(answer) do%>
  <div class="card-body row">
    <div class=col-12>
      <time datetime="<%= answer.created_at %>">
        <small><%= answer.created_at %></small>
      </time>
      <div class="row">
        <div class="col-6">
          <h2 class="lead  my-2">
            <%= answer.body %>
          </h2>
        </div>

        <div class="col-6 d-grid gap-2 d-md-flex justify-content-md-end">
          <%= link_to 'Edit', edit_question_answer_path(question, answer), class: "btn btn-secondary" %>
          <%= link_to 'Delete', question_answer_path(question, answer), data: { method: :delete, confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
